/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/


* { padding: 0; margin: 0; } 

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
#container {
    margin: 0 auto;
    width: 922px;
    background: #fff;
}
#header {
    color: #333;
    width: 900px;
    float: left;
    padding: 10px;
    padding-top: 15px;
    border: 1px solid #ccc;
    margin: 10px 0px 0px 0px;
    background: #ccc;
}
#navigation {
    float: left;
    width: 900px;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 0px 0px 0px 0px;
    background: #333;
}
#navigation ul {
    list-style-type: none;
}
#navigation li {
    display: inline;
}
#navigation li a {
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover {
	color: 333;
}

#content {
    color: #333;
    position: relative;
    border: 1px solid #ccc;
    margin: 0px 0px 0px 0px;
    padding: 10px;
    padding-top: 20px;
    min-height: 350px;
    width: 900px;
    float: left;
    background: #fff;
}
#content p {
    margin-right: 250px;
}
#floatbox {
    float: right;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #333;
    border: 2px solid #ccc;
    margin: 0px 0px 0px 0px;
    padding: 10px;
    min-height: 150px;
    width: 210px;
    display: inline;
    background: #ddd;
}
#footer {
    width: 900px;
    clear: both;
    color: #333;
    border: 1px solid #ccc;
    background: #ccc;
    margin: 0px 0px 10px 0px;
    padding: 10px;
}


/* CSS CODE FROM  http://pythoughts.com/table-style-css/         */



table {
    background-color: #f9f9f9;
    padding: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #ebebeb;
    width: 100%;
    border-collapse: collapse;
}
td, th {
    padding: 1px 5px;
}
thead {
    font: normal 18px Helvetica Neue,Helvetica,sans-serif;
    text-shadow: 0 1px 0 white;
    color: #4D5054;
}
th {
    text-align: left;
    border-bottom: 1px solid black;
    font-weight: bold;
    color: #4D5054;
}
td {
    font-size: 18px;
    border-bottom: 1px solid #ddd;
}


/* OTHER CSS CODE */
h1 {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
}
